*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
section{
    padding: 50px 0 500px;
    /* min-height: 1500px;  */
    min-height: 120vh;
    background-image: url('Background.png');
    background-size: cover;
    background-position: top center;

}
header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-content{
    width: 50%;
    margin: 0 auto;
    padding: 100px 0 0 0;
}
.btn-block{
    margin-top: 100px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    header{
        flex-direction: column;
        justify-content: center;
    }
    section{
        min-height: auto;
        padding: 50px 0 100px;
    }
    .title-content{
        width: 80%;
        margin: 0 auto;
        padding: 50px 0 0 0;
    }
}