
.mobile-menu .nav-link{
    color: white;
}
@media(max-width:767px){
    .mobile-menu{
        position: absolute;
        background-color: white;
        border: 1px solid black;
        right: 0;
        padding: 50px;
        top: 60px;
    }
    .mobile-menu .nav-link {
        color:green;
    }    
}

